.card{
    background: #1d1d1d;
    width: 500px;
    max-width: 90%;
    min-height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
.headingWrapper{
    /* margin-bottom:3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.headingWrapper span{
    margin-left:1rem;
}


